/* CSS Document */
* {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

body {
	background:#ffffff url(bg.png) repeat-x;
}

#container {
	width:948px;
	margin-left:auto;
	margin-right:auto;
	margin-top:12px;
}
#titulo {
	width:540px;
	margin-left:auto;
	margin-right:auto;
	margin-top:18px;
}
.pais {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	width:300px;
	height:200px;
	margin-right:14px;
	float:left;
	text-align:center;
	font-size:20px;
	border:#FFFFFF solid thin;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.pais b {
	font-size:48px;
	font-family:Arial, Helvetica, sans-serif;
}
#pol {
	background:#0099FF url(pol.png) left top no-repeat;
}
#pol a {
	color:#FFFFFF;
	text-decoration:none;
}
#hispania {
	background:#FFFF00 url(hispania.png) left top no-repeat;
}
#hispania a {
	color:#ff0000;
	text-decoration:none;
}
#atlantis {
	background:#999999 url(atlantis.png) left top no-repeat;
}
#atlantis a {
	color:#633232;
	text-decoration:none;
}
.entrar {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:48px;
	padding-top:25px;
	font-weight:bold;
}
#menu {
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	margin-right:10px;
	margin-top:3px;
}
#menu a {
	text-decoration:none;	
	margin-left:23px;
}
#noms a {
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-right:9px;
	font-weight:bold;
}
#noms {
	font-family:Arial, Helvetica, sans-serif;
	margin-top:230px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}