/* CSS Document */
* {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

body {
	background:#fff url(bg.png) repeat-x;
}

#tabla td {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	width:300px;
}
#tabla {	
	margin-left:auto;
	margin-right:auto;
}
#tit {
	border:#0066FF 3px solid;
	background-color:#FFFFFF;
	height:120px;
	padding-left:25px;
}
#espai {
	background:#0099FF;
	height:120px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#FFFFFF;
	text-align:right;
	padding-right:5px;
	width:295px;
}
#espai a {
	color:#FFFFFF;
	text-decoration:none;
}
#estadisticas {
	background:#0099FF;
	height:120px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:24px;
	text-align:center;
	vertical-align:bottom;
	padding-bottom:5px;
}
#estadisticas a {
	color:#000000;
	text-decoration:none;
}
#pol {
	background-color:#00CCFF;
	height:200px;
}
#pol a {
	color:#0055FF;
}
#hispania {
	background-color:#FFFF00;
	height:200px;
}
#hispania a {
	color:#FF9900;
}
#atlantis {
	background-color:#999999;
	height:200px;
}
#atlantis a {
	color:#CCCCCC;
}
.noms a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	text-decoration:none;
	text-align:center;
}
.noms b {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:64px;
	font-weight:normal;
}
.noms {
	text-align:center;
}
#ciudadanos {
	border:#0066FF 3px solid;
	background-color:#FFFFFF;
	height:120px;
	padding-left:25px;
}
#ciudadanos a {
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	margin-right:9px;
	font-weight:bold;
}