
sql = 'mysql://user:pass@localhost:3306/database'

clave     = '..' ; clave de coockie (cambiar en caso de robo de claves md5)
clave_sha = '..' ; elemento concatenado a la contraseña para generar una clave en SHA256, guardado en el campo 'pass2' en la tabla 'users' (si se cambia se tendrán que resetear las claves)
