# maxsim

DirectorySlash Off

RewriteEngine on
RewriteBase /

#RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /$maxsim.php [L]

#####################################



redirect 301 /codigo https://github.com/JavierGonzalez/VirtualPol
redirect 301 /license /LICENSE.md
redirect 301 /contenido http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES

RewriteRule ^(TOS|legal|manual|documentacion|donaciones|desarrollo|presentacion|video|reglamento-sc)$ /pages/$1 [L]
