# maxsim #######################################

DirectorySlash Off

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* /$maxsim.php [L]

<FilesMatch "\.(htaccess|htpasswd|ini|log)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

<FilesMatch "(password)">
 Order Allow,Deny
 Deny from all
</FilesMatch>

################################################



redirect 301 /codigo https://github.com/JavierGonzalez/POL
redirect 301 /license /LICENSE.md
redirect 301 /contenido http://creativecommons.org/licenses/by-sa/3.0/deed.es_ES


