body {
	min-width:810px;
	padding: 0 10px;
	text-align: center;color: #333;
	font-family: "Arial", "Helvetica", sans-serif;
	font-size:17px;
}

div#container {
	width: 700px;margin: 0 auto;
	text-align: left;
	margin: 10px auto;
}

body.fullwidth div#container { 
	width: 100%;
	min-width:970px;
}

div#header {
	color: inherit;
	background:url(bg75.png) repeat;
}

div#header-in {
	padding: 0px 20px 0px 20px;
}

div#content-wrap {
	padding: 6px 0;
}

div.lcol div.content {
	margin: 0 0 0 170px; 
}

div.content {
	color: inherit;min-height:470px;
	background:url(bg75.png) repeat;
}

div.content-in { 
	padding: 15px 10px 10px 20px; 
	color:#5D5D5D; 
}

div.content-in h1 { 
	font-size:19px; 
	color:green; 
	margin:0; 
	padding:0; 
	line-height:12px; 
}

div.content-in h2 { 
	font-size:17px; 
	color:green; 
	margin:0; 
	padding:0; 
	line-height:12px; 
}

div.content-in h3 { 
	font-size:15px; color:green; 
	margin:0; padding:0; 
	line-height:12px; 
}

div.content-in img { 
	margin-bottom:-3px; 
}

div.content-in a img { 
	padding:0 2px 0 0; 
}

div.content-in a:hover img { 
	padding:0 0 0 2px;
}
 
div.content-in p { 
	text-align: justify; 
}

div.lcol div.column { 
	float: left; 
}

div.column { 
	width: 160px;
	color: inherit;
	background:url(bg75.png) repeat;
}

div.column-in { 
	padding: 10px 0 12px 20px; 
	font-size:17px;
}

div#footer { 
	clear:both;
	color: inherit;
	background:url(bg75.png) repeat;
}

div#footer-in {
	padding: 10px 20px 10px 20px;
}

div.content, div.column, div#header, div#footer {
	border-radius: 6px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
}

a { 
	color:#06f;text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.infog { 
	color:green;
}

.pol_form li { 
	color:gray; 
	margin-bottom:15px; 
}

.pol_form li b { 
	color:green; 
	font-size:16px; 
}

input, area, div.content-in select { 
	color:green; font-size:16px; 
	font-weight:bold; 
}

input[type="submit"][disabled="disabled"], input[type="button"][disabled="disabled"], area[disabled="disabled"], div.content-in select[disabled="disabled"] { 
	color:gray;
	font-weight:normal; 
}

.pol_table { 
	margin-top:0; 
}

.pol_table th { 
	color:#808080; 
}

.pol_table td { 
	padding-right:20px; 
}

.pol_table a { 
	text-decoration:none; 
}

.pol_table a:hover { 
	text-decoration:underline; 
}

.pforo { 
	border-top: 1px solid #D4D4D4; 
}

.md { 
	color:#808080; 
	font-size:12px; 
	margin: 0 0 0 3px; 
}

.form_textarea {
	min-width:475px;
	width:90%;
	height:350px;
	color:green;
	font-weight:bold;
}

#homelogo a { 
	font-size:18px; 
	color:#808080; 
	text-decoration:none; 
}

#homelogo a:hover { 
	text-decoration:underline; 
}

.amarillo, .azul {
	background:#FFFFDD;
	border:1px solid #FFD700;
	padding:5px 10px 5px 10px; 
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
}

.azul { 
	border:1px solid #00CCFF;
	background:#D3F7FE; 
}

#pols_frase {
	margin:0 0 0 20px;
	padding:4px 8px 4px 8px;
	font-size:18px;
}

.pn { 
	font-weight:bold; 
	color:red; 
}

.pp { 
	font-weight:bold; 
	color:#ECC900; 
}

.big { 
	font-size:18px; 
}

.gris { 
	color:#808080; 
}

.min { 
	font-size:12px; 
}

#palabras { 
	margin:0 0 0 -6px; padding:0; 
}

dl { 
	padding-left:0px;
	margin:0 0 0 -20px;
	width: 154px;
}

dd { 
	margin:0 0 0 5px;
}
dd { 
	*margin-left:-55px; 
}

dt a { 
	color:#808080; 
}

dt { 
	font-weight:bold;
	border:1px solid #FFD700;border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;	
	background: #FFFFDD; 
	font-size: 18px; 
	padding: 2px 0 3px 8px; 
	margin:0 0 3px 2px; 
}

#menu ul { 
	list-style: none; 
	padding: 5px; 
}

#pnick { 
	text-align:left; 
}

#pnick b { 
	color:green; 
}

.nick:hover { 
	color:#00CCFF; 
}

.pols { 
	color:#ECC900; 
}

h1 a { 
	color:#4BB000; 
} 

#enviar {
	background:#FFFFB7;
	padding:20px 0 20px 50px;
}

.ciudadano, .desarrollador { 
	color:#06f; 
}

.turista { 
	color:#66B3FF; 
}

.validar { 
	color:#96B7CF; 
}

.expulsado { 
	color:#FF8A8A; 
}

.extrangero { 
	color:#CCC; 
}

.vcc, .vc, .vcn, .vcnn { 
	font-weight:bold; font-size:17px; 
}

.vcc { 
	color:#EA9800; 
}

.vc { 
	color:orange; 
}

.vcn { 
	color:#FF3E43; 
}

.vcnn { 
	color:#D20000; 
}

#vpc_fondo {
	background-color:#fff;
	border: solid thin #000;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	padding: 5px 5px 5px 5px;
}

.code {
	background-color:#000;
	color: #5F5;
	font-family:monospace;
}

.quote {
	background-color: #FFF8E0;
	border: #000000 solid thin;
	border-radius: 12px; 
	font-family:serif;
	font-style:italic;
	padding: 6px;
}

blockquote cite {
	font-style: normal;
	font-weight: bold;
	display: block;
	font-size: 0.9em;
	margin-bottom: 4px;
}

.citar {
	float: right;
}
.citar input {
	font-size: 0.7em;
}
