 /* ==== api.php ==== */
li.api em {
color:green;
font-size:18px;
}

/* ==== manual.php ==== */
.content {
text-align:center;
width:860px;
margin:0 auto;
padding:2px 12px 30px;
}

/* ==== index.php ==== */
td b {
font-size:15px;
}

ol {
margin:0;
padding:0;
}

.c1 {
padding-left:0;
direction:ltr;
margin-left:72pt;
}

.c17 {
list-style-type:lower-roman;
margin:0;
padding:0;
}

.c2 {
height:11pt;
direction:ltr;
margin-left:36pt;
}

.c8 {
list-style-type:lower-latin;
margin:0;
padding:0;
}

.c5 {
list-style-type:decimal;
margin:0;
padding:0;
}

.c14 {
width:468pt;
background-color:#fff;
padding:72pt;
}

.c16 {
padding-left:0;
margin-left:108pt;
}

.c10 {
color:inherit;
text-decoration:inherit;
}

.c13 {
font-size:24pt;
font-weight:700;
}

.c3 {
font-size:14pt;
font-weight:700;
}

.c11 {
font-size:18pt;
font-weight:700;
}

.c12 {
border:1px solid #000;
margin:5px;
}

.c15 {
color:#009;
text-decoration:underline;
}

.c0 {
text-align:center;
direction:ltr;
}

.c6 {
padding-left:0;
margin-left:36pt;
}

.c4 {
direction:ltr;
}

.c9 {
height:11pt;
}

.c7 {
line-height:1.0;
}

/* ==== source/theme.php ==== */
body {
color:#000;
font-size:11pt;
font-family:Arial;
background:<?=$body_bg?>;
}

h1 {
padding-top:24pt;
color:#000;
font-size:24pt;
font-family:Arial;
font-weight:700;
padding-bottom:6pt;
}

h2 {
padding-top:18pt;
color:#000;
font-size:18pt;
font-family:Arial;
font-weight:700;
padding-bottom:4pt;
}

h3 {
padding-top:14pt;
color:#000;
font-size:14pt;
font-family:Arial;
font-weight:700;
padding-bottom:4pt;
}

h4 {
padding-top:12pt;
color:#000;
font-size:12pt;
font-family:Arial;
font-weight:700;
padding-bottom:2pt;
}

h5 {
padding-top:11pt;
color:#000;
font-size:11pt;
font-family:Arial;
font-weight:700;
padding-bottom:2pt;
}

h6 {
padding-top:10pt;
color:#000;
font-size:10pt;
font-family:Arial;
font-weight:700;
padding-bottom:2pt;
}

div#footer,div.column,div.content,div#header {
border:1px solid <?=COLOR_BG2?>;
border-width:0 2px 2px 0;
}

/* ==== registrar/login.php ==== */
body,a {
color:#FFF;
}

*,body {
display:none;
}

.abig {
font-size:20px;
}

/* ==== source/c-elecciones.php ==== */
#elec table {
table-layout:fixed;
}

#elec td {
color:grey;
}

#elec .dia {
color:#D2D2D2;
font-size:12px;
margin:0;
padding:0;
}

#elec {
margin:-10px 0 0 -10px;
}

#elec p {
margin:5px 0 2px;
}

/* ==== source/c-estadisticas.php ==== */
#stats p {
margin:4px;
}

.seg {
font-size:22px;
}

/* ==== source/c-foro.php ==== */
.content-in hr {
border:1px solid grey;
}

.flateral {
float:right;
margin:0 0 0 5px;
}

.pforo {
text-align:justify;
margin:2px;
}

#enviar {
background:#FFFFB7;
padding:20px 0 20px 50px;
}

.navatar {
float:left;
margin:-4px 10px -4px 0;
}

/* ==== source/c-partidos.php ==== */
#partido li {
margin-top:5px;
}

.api_box {
border:1px solid grey;
text-align:center;
background:#FFD;
color:#FFD;
}

/* ==== source/c-poderes.php ==== */
#poderes p {
margin:3px 0 0;
padding:0;
}

#poderes a {
font-size:18px;
}

/* ==== source/c-pols.php ==== */
.transf li {
margin-bottom:10px;
}

/* ==== source/inc-chats.php ==== */
input,area,div.content-in select {
color:green;
font-size:16px;
font-weight:700;
}

#vp_c {
font-family:"Arial", "Helvetica", sans-serif;
font-size:17px;
}

#vp_c h1 {
font-size:19px;
color:green;
line-height:12px;
margin:0;
padding:0;
}

#vp_c a {
color:#06f;
text-decoration:none;
}

#vpc {
vertical-align:bottom;
height:400px;
overflow:auto;
overflow-x:hidden;
}

#vpc ul li {
color:#666;
background:none;
font-size:15px;
list-style:none;
margin:0;
padding:0;
}

#vpc .oldc {
color:#A3A3A3;
}

#vpc_u {
float:right;
width:180px;
height:400px;
overflow:auto;
overflow-x:hidden;
margin-left:20px;
}

#vpc_u ul li {
color:#666;
background:none;
font-size:18px;
font-weight:700;
list-style:none;
margin:0;
padding:0;
}

#vpc_u li {
font-weight:700;
}

#vpc_u a {
color:gray;
text-decoration:none;
}

#vpc_msg {
color:#000;
border:1px solid gray;
padding:3px;
}

.vpc_accion {
color:green;
font-size:16px;
}

.vpc_priv {
color:#9F009F;
font-size:16px;
}

.vpc_yo {
color:#2D2D2D;
}

/* ==== source/inc-mapa.php ==== */
#polm table {
table-layout:fixed;
width:' . $mapa_width . 'px;
height:' . $mapa_height . 'px;
}

#polm td {
background:#FFF;
height:' . $cuadrado_size . 'px;
border:1px solid #999;
font-size:15px;
color:blue;
font-weight:700;
text-align:center;
margin:0;
padding:0;
}

#msg {
position:absolute;
display:none;
}

/* ==== source/index.php ==== */
#info li {
margin-top:10px;
}

.sf-menu li,.sf-menu a,.sf-menu a:visited {
color:#555;
text-shadow:1px 1px 4px #FFF;
}

.md {
color:#888;
float:right;
font-size:14px;
}

p,#lista li {
margin:0;
}

h1 a,#vp_c h1 a {
color:#4BB000;
}

#edit li,#examen li {
margin:0 0 10px;
}

#info b,.api_box:hover {
color:green;
}

#vp_c a:hover,#vpc_u a:hover {
text-decoration:underline;
}

#vpc ul,#vpc_u ul {
position:static;
margin:0;
padding:0;
}