/*** ESSENTIAL STYLES ***/
.sfn-menu, .sfn-menu * {
	padding:0px;
	margin:0px;
	list-style:		none;
	font-family:	Helvetica, Arial, sans-serif;
}

.sfn-menu {
	line-height:	1.0;
}

.sfn-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}

.sfn-menu ul li {
	width:			100%;
}

.sfn-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sfn-menu li {
	float:			left;
	position:		relative;
}

.sfn-menu a {
	display:		block;
	position:		relative;
}

.sfn-menu li:hover ul,
.sfn-menu li.sfHover ul {
	left:			0;
	top:			1.5em; /* match top ul list item height */
	z-index:		99;
}

ul.sfn-menu li:hover li ul,
ul.sfn-menu li.sfHover li ul {
	top:			-999em;
}

ul.sfn-menu li li:hover ul,
ul.sfn-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

ul.sfn-menu li li:hover li ul,
ul.sfn-menu li li.sfHover li ul {
	top:			-999em;
}

ul.sfn-menu li li li:hover ul,
ul.sfn-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sfn-menu {
	float:			left;
	margin-bottom:	1em;
}

.sfn-menu a {
	padding: 		5px;
	text-decoration:none;
}

.sfn-menu a, .sfn-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#808080;
}

.sfn-menu li {
	margin: 0px;
	font-size: 16px;
}
.sfn-menu li li {
	background:#FFFFFF;
	margin:0px;
	margin-left:0px;
	background:#FFFFCC;
	font-size: 16px;
	opacity:0.7;
}
.sfn-menu li li li {
	background: url(../images/bg32.png) repeat;
}
.sfn-menu li:hover, .sfn-menu li.sfHover,
.sfn-menu a:focus, .sfn-menu a:hover, .sfn-menu a:active {
	background: #FF9900;
	outline:		0;
}

/*** arrows **/
.sfn-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sfn-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sfn-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sfn-menu ul a:focus > .sf-sub-indicator,
.sfn-menu ul a:hover > .sf-sub-indicator,
.sfn-menu ul a:active > .sf-sub-indicator,
.sfn-menu ul li:hover > a > .sf-sub-indicator,
.sfn-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

/*** adding sf-vertical in addition to sfn-menu creates a vertical menu ***/
.sf-vertical, .sf-vertical li {
	width:	10em;
}
/* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
	left:	10em; /* match ul width */
	top:	0;
}

/*** alter arrow directions ***/
.sf-vertical .sf-sub-indicator { background-position: -10px 0; } /* IE6 gets solid image only */
.sf-vertical a > .sf-sub-indicator { background-position: 0 0; } /* use translucent arrow for modern browsers*/

/* hover arrow direction for modern browsers*/
.sf-vertical a:focus > .sf-sub-indicator,
.sf-vertical a:hover > .sf-sub-indicator,
.sf-vertical a:active > .sf-sub-indicator,
.sf-vertical li:hover > a > .sf-sub-indicator,
.sf-vertical li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

