/* CSS Document */
* {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
#atras {
	position:absolute;
	top:20px;
	left:20px;
}
#siguiente {
	position:absolute;
	top:20px;
	right:20px;
}

