/* CSS Document */
* {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
body {
	background-color:#08287B;
}
#header {
	width:100%;
	border-bottom:#000000 solid thin;
	height:32px;
}
.h_item {
	font-size:24px;
	color:#FFFFFF;
}
#h_left {
	margin-left:10px;
	float:left;
}
#h_left a {
	color:#FFFFFF;
	text-decoration:none;
}
#h_right {
	margin-right:10px;
	float:right;
	visibility:hidden;
}
#container {
	width:800px;
	height:600px;
	border:#000000 solid thin;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	background:url(mapa7.png);
}
#cuadricula {
	z-index:0;
	text-align:right;
	position:absolute;
	width:800px;
}
#nombres {
	z-index:1;
	text-align:left;
	position:absolute;
	width:800px;
}
#controles {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:#FFFFFF;
	font-size:16px;
}
#controles span {
	text-decoration:underline;
}