RewriteEngine on 
RewriteRule ^iframe/([a-z-A-Z-0-9]{1,20})(/)?([a-z-A-Z-0-9_]{1,90})?(/)?([a-z-A-Z-0-9_]{1,90})?(/)?([a-z-A-Z-0-9_]{1,90})?(/)?([a-z-A-Z-0-9_]{1,90})?(/)?$ /inc-iframe.php?file=$1&a=$3&b=$5&c=$7&d=$9 [L]
RewriteRule ^([a-z-A-Z-0-9]{1,20})(/)?([a-z-A-Z-0-9_]{1,90})?(/)?([a-z-A-Z-0-9_]{1,90})?(/)?([a-z-A-Z-0-9_]{1,90})?(/)?([a-z-A-Z-0-9_]{1,90})?(/)?$ /c-$1.php?a=$3&b=$5&c=$7&d=$9 [L]
