/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
margin:			0;
padding:		0;
list-style:		none;
font-family:	Helvetica, Arial, sans-serif;
}

.sf-menu {
line-height:	1.0;
/* margin-left: -20px; */
}

.sf-menu ul {
position:		absolute;
top:			-999em;
margin-top: -5px;
width:			10em; /* left offset of submenus need to match (see below) */
}

.sf-menu li:hover {
visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li {
float:			left;
position:		relative;
}

.sf-menu a {
display:		block;
position:		relative;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
left:			0;
top:			2.5em; /* match top ul list item height */
z-index:		99;
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
top:			-999em;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
top:			0;
}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
top:			-999em;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
left:			5em; /* match ul width */
top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
float:			left;
margin-bottom:	1em;
}

.sf-menu a {
padding: 		5px;
text-decoration:none;
}

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
color:#808080;
}



.sf-menu li {
color:#808080;
background:	#FFFFDD;
margin: 1px;
padding:3px 0 3px 2px;
font-weight:bold;
font-size: 18px;
border:1px solid #FFD700;
border-radius: 6px; 
-moz-border-radius: 6px; 
-webkit-border-radius: 6px;
}
.sf-menu li li {
background: #FFFFDD;
margin:0px;
margin-left:-8px;	
font-size: 16px;
}
.sf-menu li li li {
background: #FFFFDD;
}
.sf-menu li:hover, .sf-menu li.sfHover {
background: #FF9900;
outline:		0;
}


/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/


/*** adding sf-vertical in addition to sf-menu creates a vertical menu ***/
.sf-vertical, .sf-vertical li { width: 145px; }

.sf-vertical li li { width:	155px; }

/* this lacks ul at the start of the selector, so the styles from the main CSS file override it where needed */
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
left:	146px; /* match ul width */
top:	0;
}

.sf-vertical li:hover ul ul, .sf-vertical li.sfHover ul ul { left: 156px; }
/*** alter arrow directions ***/
.sf-vertical .sf-sub-indicator { background-position: -10px 0; } /* IE6 gets solid image only */
.sf-vertical a > .sf-sub-indicator { background-position: 0 0; } /* use translucent arrow for modern browsers*/

/* hover arrow direction for modern browsers*/
.sf-vertical a:focus > .sf-sub-indicator,
.sf-vertical a:hover > .sf-sub-indicator,
.sf-vertical a:active > .sf-sub-indicator,
.sf-vertical li:hover > a > .sf-sub-indicator,
.sf-vertical li.sfHover > a > .sf-sub-indicator {
background-position: -10px 0; /* arrow hovers for modern browsers*/
}





/* SNF MENU TOP */

/*** ESSENTIAL STYLES ***/
.sfn-menu, .sfn-menu * {
padding:0px;
margin:0px;
list-style:		none;
font-family:	Helvetica, Arial, sans-serif;
}

.sfn-menu {
line-height:	1.0;
}

.sfn-menu ul {
margin-top:10px;
position:		absolute;
top:			-999em;
width:			180px; /* left offset of submenus need to match (see below) */
}

.sfn-menu ul li {
width:			100%;
}

.sfn-menu li:hover {
visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sfn-menu li {
float:			left;
position:		relative;
}

.sfn-menu a {
display:		block;
position:		relative;
}

.sfn-menu li:hover ul,
.sfn-menu li.sfHover ul {
left:			0;
top:			1.5em; /* match top ul list item height */
z-index:		99;
}

ul.sfn-menu li:hover li ul,
ul.sfn-menu li.sfHover li ul {
top:			-999em;
}

ul.sfn-menu li li:hover ul,
ul.sfn-menu li li.sfHover ul {
left:			10em; /* match ul width */
top:			0;
}

ul.sfn-menu li li:hover li ul,
ul.sfn-menu li li.sfHover li ul {
top:			-999em;
}

ul.sfn-menu li li li:hover ul,
ul.sfn-menu li li li.sfHover ul {
left:			10em; /* match ul width */
top:			0;
}

/*** DEMO SKIN ***/
.sfn-menu {
float:			left;
margin-bottom:	10px;
}

.sfn-menu a {
padding: 		5px;
text-decoration:none;
}

.sfn-menu a, .sfn-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
color:			#808080;
}

.sfn-menu li {
margin: 0px;
font-size: 16px;
}
.sfn-menu li li {

color:#808080;
background:	#FFFFDD;
font-weight:bold;
font-size: 18px;
border:1px solid #FFD700;
border-radius: 6px; 
-moz-border-radius: 6px; 
-webkit-border-radius: 6px;

}
.sfn-menu li:hover, .sfn-menu li.sfHover {
background: #FF9900;
outline:		0;
}
